In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.metrics import accuracy_score

In [2]:
Customer_churn_data=pd.read_csv("Customer_churn_details.csv")
Customer_churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
Customer_churn_data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [4]:
drop_col=Customer_churn_data.drop(columns=['customerID', 'gender', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
                                  'PaymentMethod', 'StreamingTV', 'StreamingMovies'],inplace=True)

In [5]:
drop_col

In [6]:
Customer_churn_data.head()

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,Month-to-month,Yes,29.85,29.85,No
1,0,No,No,34,One year,No,56.95,1889.5,No
2,0,No,No,2,Month-to-month,Yes,53.85,108.15,Yes
3,0,No,No,45,One year,No,42.30,1840.75,No
4,0,No,No,2,Month-to-month,Yes,70.70,151.65,Yes

In [7]:
Customer_churn_data.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'Contract',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df_columns=Customer_churn_data.columns
Categorical_data=[x for x in Customer_churn_data if Customer_churn_data[x].dtype=='object']
print(Categorical_data)
Customer_churn_data.head()

['Partner', 'Dependents', 'Contract', 'PaperlessBilling', 'TotalCharges', 'Churn']

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,Yes,No,1,Month-to-month,Yes,29.85,29.85,No
1,0,No,No,34,One year,No,56.95,1889.5,No
2,0,No,No,2,Month-to-month,Yes,53.85,108.15,Yes
3,0,No,No,45,One year,No,42.30,1840.75,No
4,0,No,No,2,Month-to-month,Yes,70.70,151.65,Yes

In [9]:
finding_null_data=Customer_churn_data.isna().sum()
print(finding_null_data)

SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
Contract            0
PaperlessBilling    0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
Categorical_mapping={"Yes":1,"No":0}
Customer_churn_data['Dependents']=Customer_churn_data['Dependents'].map(Categorical_mapping)
print(Customer_churn_data.info())
Customer_churn_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   object
 5   PaperlessBilling  7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 495.3+ KB
None

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,Yes,0,1,Month-to-month,Yes,29.85,29.85,No
1,0,No,0,34,One year,No,56.95,1889.5,No
2,0,No,0,2,Month-to-month,Yes,53.85,108.15,Yes
3,0,No,0,45,One year,No,42.30,1840.75,No
4,0,No,0,2,Month-to-month,Yes,70.70,151.65,Yes

In [11]:
Categorical_mapping={"Month-to-month":0,"One year":1,"Two year":2}
Customer_churn_data['Contract']=Customer_churn_data['Contract'].map(Categorical_mapping)
print(Customer_churn_data.info())
Customer_churn_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 495.3+ KB
None

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,Yes,0,1,0,Yes,29.85,29.85,No
1,0,No,0,34,1,No,56.95,1889.5,No
2,0,No,0,2,0,Yes,53.85,108.15,Yes
3,0,No,0,45,1,No,42.30,1840.75,No
4,0,No,0,2,0,Yes,70.70,151.65,Yes
5,0,No,0,8,0,Yes,99.65,820.5,Yes
6,0,No,1,22,0,Yes,89.10,1949.4,No
7,0,No,0,10,0,No,29.75,301.9,No
8,0,Yes,0,28,0,Yes,104.80,3046.05,Yes
9,0,No,1,62,1,No,56.15,3487.95,No
10,0,Yes,1,13,0,Yes,49.95,587.45,No
11,0,No,0,16,2,No,18.95,326.8,No
12,0,Yes,0,58,1,No,100.35,5681.1,No
13,0,No,0,49,0,Yes,103.70,5036.3,Yes
14,0,No,0,25,0,Yes,105.50,2686.05,No
15,0,Yes,1,69,2,No,113.25,7895.15,No
16,0,No,0,52,1,No,20.65,1022.95,No
17,0,No,1,71,2,No,106.70,7382.25,No
18,0,Yes,1,10,0,No,55.20,528.35,Yes
19,0,No,0,21,0,Yes,90.05,1862.9,No

In [12]:

Categorical_mapping={"Yes":1,"No":0}
Customer_churn_data['PaperlessBilling']=Customer_churn_data['PaperlessBilling'].map(Categorical_mapping)
print(Customer_churn_data.info())
Customer_churn_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   int64
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(5), object(3)
memory usage: 495.3+ KB
None

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,Yes,0,1,0,1,29.85,29.85,No
1,0,No,0,34,1,0,56.95,1889.5,No
2,0,No,0,2,0,1,53.85,108.15,Yes
3,0,No,0,45,1,0,42.30,1840.75,No
4,0,No,0,2,0,1,70.70,151.65,Yes
5,0,No,0,8,0,1,99.65,820.5,Yes
6,0,No,1,22,0,1,89.10,1949.4,No
7,0,No,0,10,0,0,29.75,301.9,No
8,0,Yes,0,28,0,1,104.80,3046.05,Yes
9,0,No,1,62,1,0,56.15,3487.95,No
10,0,Yes,1,13,0,1,49.95,587.45,No
11,0,No,0,16,2,0,18.95,326.8,No
12,0,Yes,0,58,1,0,100.35,5681.1,No
13,0,No,0,49,0,1,103.70,5036.3,Yes
14,0,No,0,25,0,1,105.50,2686.05,No
15,0,Yes,1,69,2,0,113.25,7895.15,No
16,0,No,0,52,1,0,20.65,1022.95,No
17,0,No,1,71,2,0,106.70,7382.25,No
18,0,Yes,1,10,0,0,55.20,528.35,Yes
19,0,No,0,21,0,1,90.05,1862.9,No

In [13]:
Categorical_mapping={"Yes":1,"No":0}
Customer_churn_data['Partner']=Customer_churn_data['Partner'].map(Categorical_mapping)
print(Customer_churn_data.info())
Customer_churn_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   int64
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   int64
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   object
dtypes: float64(1), int64(6), object(2)
memory usage: 495.3+ KB
None

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,29.85,29.85,No
1,0,0,0,34,1,0,56.95,1889.5,No
2,0,0,0,2,0,1,53.85,108.15,Yes
3,0,0,0,45,1,0,42.30,1840.75,No
4,0,0,0,2,0,1,70.70,151.65,Yes
5,0,0,0,8,0,1,99.65,820.5,Yes
6,0,0,1,22,0,1,89.10,1949.4,No
7,0,0,0,10,0,0,29.75,301.9,No
8,0,1,0,28,0,1,104.80,3046.05,Yes
9,0,0,1,62,1,0,56.15,3487.95,No
10,0,1,1,13,0,1,49.95,587.45,No
11,0,0,0,16,2,0,18.95,326.8,No
12,0,1,0,58,1,0,100.35,5681.1,No
13,0,0,0,49,0,1,103.70,5036.3,Yes
14,0,0,0,25,0,1,105.50,2686.05,No
15,0,1,1,69,2,0,113.25,7895.15,No
16,0,0,0,52,1,0,20.65,1022.95,No
17,0,0,1,71,2,0,106.70,7382.25,No
18,0,1,1,10,0,0,55.20,528.35,Yes
19,0,0,0,21,0,1,90.05,1862.9,No

In [14]:
Categorical_mapping={"Yes":1,"No":0}
Customer_churn_data['Churn']=Customer_churn_data['Churn'].map(Categorical_mapping)
print(Customer_churn_data.info())
Customer_churn_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   int64
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   int64
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   Churn             7043 non-null   int64
dtypes: float64(1), int64(7), object(1)
memory usage: 495.3+ KB
None

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,1,0,1,0,1,29.85,29.85,0
1,0,0,0,34,1,0,56.95,1889.5,0
2,0,0,0,2,0,1,53.85,108.15,1
3,0,0,0,45,1,0,42.30,1840.75,0
4,0,0,0,2,0,1,70.70,151.65,1
5,0,0,0,8,0,1,99.65,820.5,1
6,0,0,1,22,0,1,89.10,1949.4,0
7,0,0,0,10,0,0,29.75,301.9,0
8,0,1,0,28,0,1,104.80,3046.05,1
9,0,0,1,62,1,0,56.15,3487.95,0
10,0,1,1,13,0,1,49.95,587.45,0
11,0,0,0,16,2,0,18.95,326.8,0
12,0,1,0,58,1,0,100.35,5681.1,0
13,0,0,0,49,0,1,103.70,5036.3,1
14,0,0,0,25,0,1,105.50,2686.05,0
15,0,1,1,69,2,0,113.25,7895.15,0
16,0,0,0,52,1,0,20.65,1022.95,0
17,0,0,1,71,2,0,106.70,7382.25,0
18,0,1,1,10,0,0,55.20,528.35,1
19,0,0,0,21,0,1,90.05,1862.9,0

In [15]:
# Make sure any leading/trailing whitespace is removed and empty strings are converted to NaN
Customer_churn_data['TotalCharges'] = Customer_churn_data['TotalCharges'].str.strip()

# Replace any empty strings with NaN before converting
Customer_churn_data['TotalCharges'] = Customer_churn_data['TotalCharges'].replace('', float('nan'))

# Convert the 'TotalCharges' column to numeric, coercing errors to NaN
Customer_churn_data['TotalCharges'] = pd.to_numeric(Customer_churn_data['TotalCharges'], errors='coerce')

# Display the DataFrame to check
print(Customer_churn_data[['TotalCharges']].head(20))
Customer_churn_data.info()

    TotalCharges
0          29.85
1        1889.50
2         108.15
3        1840.75
4         151.65
5         820.50
6        1949.40
7         301.90
8        3046.05
9        3487.95
10        587.45
11        326.80
12       5681.10
13       5036.30
14       2686.05
15       7895.15
16       1022.95
17       7382.25
18        528.35
19       1862.90
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   int64
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   int64
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7032 non-null   float64
 8   Churn             7043 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 495.3 KB

In [16]:
missing_data=Customer_churn_data.isna().sum()
missing_data

SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
Contract             0
PaperlessBilling     0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [17]:
Customer_churn_data.fillna(0,inplace=True)
print("After Filling")
missing_data=Customer_churn_data.isna().sum()
missing_data

After Filling

SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
Contract            0
PaperlessBilling    0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [18]:
Customer_churn_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   Partner           7043 non-null   int64
 2   Dependents        7043 non-null   int64
 3   tenure            7043 non-null   int64
 4   Contract          7043 non-null   int64
 5   PaperlessBilling  7043 non-null   int64
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   float64
 8   Churn             7043 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 495.3 KB

In [19]:
x=Customer_churn_data.drop(columns='Churn',axis=1)
x

,SeniorCitizen,Partner,Dependents,tenure,Contract,PaperlessBilling,MonthlyCharges,TotalCharges
0,0,1,0,1,0,1,29.85,29.85
1,0,0,0,34,1,0,56.95,1889.50
2,0,0,0,2,0,1,53.85,108.15
3,0,0,0,45,1,0,42.30,1840.75
4,0,0,0,2,0,1,70.70,151.65
...,...,...,...,...,...,...,...,...
7038,0,1,1,24,1,1,84.80,1990.50
7039,0,1,1,72,1,1,103.20,7362.90
7040,0,1,1,11,0,1,29.60,346.45
7041,1,1,0,4,0,1,74.40,306.60
7042,0,0,0,66,2,1,105.65,6844.50

In [20]:
y=Customer_churn_data['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [21]:
#split the data for training and test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [22]:
#model fit
model=LogisticRegression()

In [23]:
model.fit(x_train,y_train)

C:\Users\sanka\Desktop\Python\Datascience and ML\Anaconda\envs\TwilearnProjects\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
#predicted the model
x_trained_pred=model.predict(x_train)
accuracy=accuracy_score(x_trained_pred,y_train)
x_trained_pred
print(round(accuracy,2))

0.79

In [25]:
x_test_pred=model.predict(x_test)
accuracy=accuracy_score(x_test_pred,y_test)
x_test_pred
print(round(accuracy,2))

0.79

In [26]:
#for my observations
Customer_churn_data['Churn'].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [27]:
Customer_churn_data.columns

Index(['SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'Contract',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [28]:
#making the predictive system
input_data=(0,0,0,2,0,1,53.85,108.15)
#changing the input data into numpy array
input_data_as_numpy_array=np.asarray(input_data)
#reshape the data
reshape_the_input_data_as_numpy=input_data_as_numpy_array.reshape(1,-1)
#predict the model
prediction=model.predict(reshape_the_input_data_as_numpy)
prediction

C:\Users\sanka\Desktop\Python\Datascience and ML\Anaconda\envs\TwilearnProjects\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1])

In [29]:
if (prediction[0] == 1):  
    print("The customer has Churned")
elif (prediction[0] == 0): 
    print("The customer hasn't Churned")

The customer has Churned

In [30]:
#saving the trained model
import pickle

In [31]:
file_name="trained_model.sav"
pickle.dump(model,open(file_name,"wb"))
#we can create this trained model

In [32]:
#how we can load this model and how we can use it.
loaded_model=pickle.load(open("trained_model.sav",'rb'))

In [33]:
#making the predictive system
input_data=(0,0,0,2,0,1,53.85,108.15)
#changing the input data into numpy array
input_data_as_numpy_array=np.asarray(input_data)
#reshape the data
reshape_the_input_data_as_numpy=input_data_as_numpy_array.reshape(1,-1)
#predict the model
prediction=loaded_model.predict(reshape_the_input_data_as_numpy)
prediction

if (prediction[0] == 1):  
    print("The customer has Churned")
elif (prediction[0] == 0): 
    print("The customer hasn't Churned")

The customer has Churned

C:\Users\sanka\Desktop\Python\Datascience and ML\Anaconda\envs\TwilearnProjects\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(